body {
  margin: 0;
  /* background-color: black; */
  background-color: aqua;
  text-align: center;
}

/* description */
h1 {
  color: red;
}

#desc {
  border: 0px;
  width: 30vh;
  height: 5vh;
}



